# SPDX-FileCopyrightText: 2025 Erlang Ecosystem Foundation
# SPDX-License-Identifier: Apache-2.0

on:
  schedule:
    # Once a month at 15:27 (random time to not congest GitHub exactly at midnight)
    - cron: "27 15 1 * *"
  workflow_dispatch:
    inputs:
      dataset_name:
        type: string
        required: false

name: "Calculate Dataset"

permissions:
  contents: read

jobs:
  define_name:
    name: "Define Dataset Name"

    runs-on: ubuntu-latest

    outputs:
      dataset_name: "${{ inputs.dataset_name || steps.current-date.outputs.DATASET_NAME }}"

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: "Get Current Date"
        id: current-date
        run: 'echo "DATASET_NAME=$(date --iso-8601)" >> $GITHUB_OUTPUT'

  fetch_projects:
    name: "Fetch Projects"

    runs-on: ubuntu-latest

    needs: ["define_name"]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: "Checkout Code"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: "Setup BEAM"
        uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
        id: setupBEAM
        with:
          version-file: .tool-versions
          version-type: strict

      - name: "Cache Deps & Build"
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            _build
            deps
          key: mix-${{ runner.os }}-${{ steps.setupBEAM.outputs.otp-version }}-${{ steps.setupBEAM.outputs.elixir-version }}-${{ hashFiles('mix.exs') }}
          restore-keys: |
            mix-${{ runner.os }}-${{ steps.setupBEAM.outputs.otp-version }}-${{ steps.setupBEAM.outputs.elixir-version }}-

      - name: "Get Mix Dependencies"
        run: mix deps.get

      - name: "Compile Project"
        run: mix compile

      - name: "Fetch Hex.pm Projects"
        run: mix openssf_compliance.fetch_projects "$DATASET_NAME"
        env:
          DATASET_NAME: "${{ needs.define_name.outputs.dataset_name }}"
          HEX_API_KEY: "${{ secrets.HEX_API_KEY }}"

      - name: "Upload Project Artifact"
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: projects
          path: priv/data/projects/*

  fetch_badges:
    name: "Fetch Badges"

    runs-on: ubuntu-latest

    needs: ["define_name"]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: "Checkout Code"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: "Setup BEAM"
        uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
        id: setupBEAM
        with:
          version-file: .tool-versions
          version-type: strict

      - name: "Cache Deps & Build"
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            _build
            deps
          key: mix-${{ runner.os }}-${{ steps.setupBEAM.outputs.otp-version }}-${{ steps.setupBEAM.outputs.elixir-version }}-${{ hashFiles('mix.exs') }}
          restore-keys: |
            mix-${{ runner.os }}-${{ steps.setupBEAM.outputs.otp-version }}-${{ steps.setupBEAM.outputs.elixir-version }}-

      - name: "Get Mix Dependencies"
        run: mix deps.get

      - name: "Compile Project"
        run: mix compile

      - name: "Fetch Badge Projects"
        run: mix openssf_compliance.fetch_badge_projects "$DATASET_NAME"
        env:
          DATASET_NAME: "${{ needs.define_name.outputs.dataset_name }}"

      - name: "Upload Badge Artifact"
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: badges
          path: priv/data/badge/*

  fetch_scorecards:
    name: "Fetch ScoreCards"

    runs-on: ubuntu-latest

    needs: ["define_name", "fetch_projects"]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: "Checkout Code"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: "Setup BEAM"
        uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
        id: setupBEAM
        with:
          version-file: .tool-versions
          version-type: strict

      - name: "Cache Deps & Build"
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            _build
            deps
          key: mix-${{ runner.os }}-${{ steps.setupBEAM.outputs.otp-version }}-${{ steps.setupBEAM.outputs.elixir-version }}-${{ hashFiles('mix.exs') }}
          restore-keys: |
            mix-${{ runner.os }}-${{ steps.setupBEAM.outputs.otp-version }}-${{ steps.setupBEAM.outputs.elixir-version }}-

      - name: "Get Mix Dependencies"
        run: mix deps.get

      - name: "Compile Project"
        run: mix compile

      - name: "Download Project Artifact"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: projects
          path: priv/data/projects/

      - name: "Fetch ScoreCard Projects"
        run: mix openssf_compliance.fetch_score_card_projects "$DATASET_NAME"
        env:
          DATASET_NAME: "${{ needs.define_name.outputs.dataset_name }}"

      - name: "Upload ScoreCard Artifact"
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: scorecards
          path: priv/data/scorecard/*

  join_projects:
    name: "Join Data"

    runs-on: ubuntu-latest

    needs: ["define_name", "fetch_projects", "fetch_badges", "fetch_scorecards"]

    permissions:
      contents: write
      id-token: write
      attestations: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: "Checkout Code"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: "Setup BEAM"
        uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
        id: setupBEAM
        with:
          version-file: .tool-versions
          version-type: strict

      - name: "Cache Deps & Build"
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            _build
            deps
          key: mix-${{ runner.os }}-${{ steps.setupBEAM.outputs.otp-version }}-${{ steps.setupBEAM.outputs.elixir-version }}-${{ hashFiles('mix.exs') }}
          restore-keys: |
            mix-${{ runner.os }}-${{ steps.setupBEAM.outputs.otp-version }}-${{ steps.setupBEAM.outputs.elixir-version }}-

      - name: "Get Mix Dependencies"
        run: mix deps.get

      - name: "Compile Project"
        run: mix compile

      - name: "Download Project Artifact"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: projects
          path: priv/data/projects/

      - name: "Download Badge Artifact"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: badges
          path: priv/data/badge/

      - name: "Download ScoreCard Artifact"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: scorecards
          path: priv/data/scorecard/

      - name: "Join Project Data"
        run: mix openssf_compliance.join_projects "$DATASET_NAME"
        env:
          DATASET_NAME: "${{ needs.define_name.outputs.dataset_name }}"

      - name: "Attest data provenance"
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        id: attest-docs-provenance
        with:
          subject-path: 'priv/data/joined/${{ needs.define_name.outputs.dataset_name }}.parquet*'

      - name: "Upload Joined Artifact"
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: joined
          path: 'priv/data/joined/${{ needs.define_name.outputs.dataset_name }}.parquet*'

      - name: "Comit new Dataset"
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          commit_message: "Add ${{ needs.define_name.outputs.dataset_name }} DataSet"

  print_stats:
    name: "Print Stats"

    runs-on: ubuntu-latest

    needs: ["define_name", "join_projects"]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: "Checkout Code"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: "Setup BEAM"
        uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
        id: setupBEAM
        with:
          version-file: .tool-versions
          version-type: strict

      - name: "Cache Deps & Build"
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            _build
            deps
          key: mix-${{ runner.os }}-${{ steps.setupBEAM.outputs.otp-version }}-${{ steps.setupBEAM.outputs.elixir-version }}-${{ hashFiles('mix.exs') }}
          restore-keys: |
            mix-${{ runner.os }}-${{ steps.setupBEAM.outputs.otp-version }}-${{ steps.setupBEAM.outputs.elixir-version }}-

      - name: "Get Mix Dependencies"
        run: mix deps.get

      - name: "Compile Project"
        run: mix compile

      - name: "Download Joined Artifact"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: joined
          path: priv/data/joined/

      - name: "Calculate Stats"
        run: mix openssf_compliance.stats "$DATASET_NAME" >> $GITHUB_STEP_SUMMARY
        env:
          DATASET_NAME: "${{ needs.define_name.outputs.dataset_name }}"
